# Игнорируем тяжелые файлы сборки
shop_app/build/
shop_app/.dart_tool/
*.apk
*.aab

# Игнорируем админку (чтобы никто не мог скачать ее с GitHub)
admin.html

# Игнорируем ключи подписи Android
*.jks
key.properties

# Игнорируем системные файлы
Thumbs.db
.DS_Store